* {
  margin: 0;
  padding: 0;
  font-size: 20px;
}

@font-face {
  font-family: "Avenir Black";
  src: url(./font/Avenir\ Black.ttf);
  font-weight: bold;
  font-style: bold;
}
/*Header */
.header {
  background-color: #ff9e4e;
  font-family: "Avenir Black";
  border-color: rgb(0, 0, 0);
  border-style: ridge;
  border-radius: 2%;
  height: auto;
  width: auto;
}
.header img {
  width: auto;
  height: 100px;
  padding: 10px;
}
.header img:hover {
  transition: 1s;
  transform: scale(1.2);
  cursor: pointer;
}

/*#bootstrap*/
.container-fluid {
  display: flex;
}

.navbar-brand {
  font-family: "Avenir Black";
  padding: 5px, 10%;
  padding-right: 20%;
  color: white;
}

.navbar-toggler {
  box-shadow: none !important;
  flex-direction: column;
}

.navbar-collapse {
  flex-grow: 0;
}

/*MAIN*/
main {
  min-height: 80vh;
}
main p {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 0.7rem;
}
main .titulo {
  font-family: "Avenir Black";
  margin-left: 110px;
  margin-top: 50px;
}

/*Tarjetas*/
.contenedorprod {
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 2%;
  margin-left: 100px;
  flex-wrap: nowrap;
  overflow-x: scroll;
  justify-content: center;
}
.contenedorprod::-webkit-scrollbar {
  width: 2px;
  background-color: rgb(233, 218, 218);
}
.contenedorprod::-webkit-scrollbar-thumb {
  background-color: #ff9e4e;
  border-radius: 9px;
}
.contenedorprod .productos {
  justify-content: space-evenly;
  width: 1606px;
  display: flex;
  flex-wrap: nowrap;
  row-gap: 14px;
  padding: 4px;
}
.contenedorprod .productos .tarjeta {
  height: 404px;
  padding: 1%;
  width: 227px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  /*bordes*/
  border-style: groove;
  border-color: grey;
  background-color: #f4f5f9;
  text-align: center;
  box-shadow: 0 0 5px rgb(104, 104, 104);
  border-radius: 5px;
}
.contenedorprod .productos .tarjeta:hover {
  transition: box-shadow 0.2s ease-in-out;
  transform: scale(1.02, 1.02);
  cursor: pointer;
  opacity: 1;
}
.contenedorprod .productos .tarjeta button {
  border-radius: 10px;
  background-color: rgb(44, 169, 44);
  color: white;
  height: auto;
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
.contenedorprod .productos img {
  width: 170px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contenedorprod .productos .precio {
  height: 2rem;
}
.contenedorprod .productos .oferta {
  text-decoration: line-through;
  height: 0px;
}

/*footer*/
footer {
  background: rgb(253, 137, 29);
  background: linear-gradient(90deg, rgb(253, 137, 29) 0%, rgb(253, 62, 29) 9%, rgb(253, 29, 29) 93%, rgb(252, 176, 69) 100%);
}
footer .info {
  display: flex;
  justify-content: space-around;
  padding: 1%;
}
footer p {
  margin-top: 10px;
  font-family: "Avenir Black";
  font-size: 0.9rem;
  color: whitesmoke;
}
footer p:hover {
  cursor: pointer;
}
footer a {
  margin-top: 10px;
  font-family: "Avenir Black";
  font-size: 0.9rem;
  color: whitesmoke;
  font-style: none;
  text-decoration: none;
}
footer h5 {
  font-family: "Avenir Black";
  font-size: 10px;
  color: whitesmoke;
}
footer .substitulo {
  text-align: center;
  margin-top: 20px;
  padding: 2px;
}
footer .mail {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
footer .mail #subemail {
  font-family: "Avenir Black";
  border-radius: 3px;
  width: -moz-fit-content;
  width: fit-content;
  height: 40px;
}
footer .mail ::-moz-placeholder {
  font-size: 15px;
}
footer .mail ::placeholder {
  font-size: 15px;
}
footer .boxboton {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .boxboton .botonsub {
  padding-bottom: 35px;
  padding-left: 2%;
  display: flex;
  align-items: start;
  justify-content: center;
}

/*Productos*/
.tituloprod p {
  margin-top: 3px;
  margin-left: 3px;
  font-size: 1.8rem;
  font-family: "Avenir Black";
}

.submenu {
  display: flex;
  justify-content: center;
}
.submenu .subtexto {
  display: flex;
  flex-direction: row;
}
.submenu .subtexto a {
  color: rgb(0, 0, 0);
  font-size: 1rem;
  font-weight: bolder;
  padding: 9px;
  text-decoration: none;
  font-family: "Avenir Light";
}
.submenu ul {
  list-style: none;
}

/*DONDE ENCONTRARNOS HTML*/
.titulode {
  font-family: "Avenir Black";
  margin: 9px;
}

.txtmap {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  row-gap: 20px;
}
.txtmap .txttitulo {
  margin: 14px;
  font-family: "Avenir Black";
  color: rgb(14, 12, 12);
}
.txtmap .txtbox {
  border-style: groove;
  border-color: rgb(0, 0, 0);
  text-align: left;
  margin-left: 5px;
  margin-right: 20px;
  height: -moz-fit-content;
  height: fit-content;
  box-shadow: 0 0 5px rgb(104, 104, 104);
  border-radius: 5px;
  overflow-y: scroll;
  background-color: white;
}
.txtmap .txtbox .Stfe, .txtmap .txtbox .riongr, .txtmap .txtbox .brc {
  border-style: groove;
  border-left: none;
  border-right: none;
  border-color: rgb(83, 71, 71);
  text-align: left;
  box-shadow: 0 0 5px rgb(69, 65, 65);
  border-radius: 5px;
  background-color: white;
}
.txtmap p {
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "Metropolis-Bold";
}
.txtmap p:hover {
  cursor: pointer;
}
.txtmap .mapa {
  box-sizing: border-box;
  border-color: #ff9e4e;
  border-radius: 4%;
}

/* CONTACTO*/
.TituloC h3 {
  font-family: "Avenir Black", sans-serif;
  font-size: 30px;
  margin: 20px 0 0 20px;
}

.boxinfo p {
  padding: 0.4rem;
  font-size: 1.4rem;
  color: #ff9e4e;
}

.procesar_formulario.php {
  width: 100%;
}

.imgredes {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.imgredes img {
  size: 5px;
}

.redes {
  display: flex;
  margin: 10px;
  padding: 10px;
  justify-content: start;
}

.redes .text p {
  margin: 11%;
}

/*Registro*/
.formulario {
  margin: 24px;
  font-family: "Avenir Black";
  display: flex;
  flex-direction: column;
}

.titulor {
  font-size: 30%;
  font-family: "Avenir Black";
  margin-top: 10px;
  margin-left: 10px;
}

form {
  max-width: 600px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 3px;
}

input[type=text],
input[type=email],
input[type=password],
input[type=number] {
  width: 90%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-family: "Avenir Black", sans-serif;
}

button[type=submit] {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
  font-family: "Avenir Black", sans-serif;
}

button[type=submit]:hover {
  background-color: #0056b3;
}

/* Media queries

Media querie Movil */
@media (max-width: 590px) {
  .container-fluid {
    justify-content: center;
    align-items: center;
  }
  main {
    min-height: 80vh;
  }
  main section .titulo {
    text-align: center;
    margin: 20px;
  }
  .sub {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .boxboton {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: -moz-fit-content;
    width: fit-content;
  }
  #subemail {
    font-family: "Avenir Black";
    border-radius: 3px;
    height: 40px;
  }
  footer a {
    font-size: 1.2rem;
  }
  .info {
    display: flex;
    flex-direction: column;
  }
  .maps {
    width: -moz-fit-content;
    width: fit-content;
  }
}
@media (max-width: 879px) {
  .maps {
    width: -moz-fit-content;
    width: fit-content;
  }
  .productos {
    flex-wrap: wrap;
  }
}
@media (max-width: 1141px) {
  .contenedorprod {
    margin: 0;
  }
  .productos {
    width: 150%;
  }
  .tarjeta {
    margin: 1.9%;
  }
}/*# sourceMappingURL=style.css.map */